<div.container>
<h1>Your Idea Journal</h1>
<hr>

<form method="post" action="/main">
<h3>Create New List</h3>
<label>List Name:</label>
<input type="text" name="name"><br><br>
<input type="checkbox" name="private" value="1">Make List Private<br><br>
<input type="hidden" name="user_id" value="<%= @current_user.id %>">
<input type="submit" value="Save List" class="btn btn-default">
</form>

<h3>Idea Lists: </h3>
<% @current_user.lists.each do |list| %>
  <a href="/lists/<%=list.slug%>"> <%= list.name %></a> [<%= list.ideas.count%>]<br>
<% end %>

<form method="POST" action="/logout">
  <input type="submit" value="Log Out" class="btn btn-default">
</form>
</div.container>