body {
  font-family: "Helvetica", "Arial", sans-serif;
  line-height: 1.5;
  padding: 4em 1em;
  background: url(https://hd.unsplash.com/photo-1452423668729-43a98052d3ee)
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h2 {
  margin-top: 1em;
  padding-top: 1em;
}

h1,
h2,
strong {
  color: #181419;
}

div.form {
  background: #eee;
  width: 50%;
  margin: 0 auto;
  border-radius: 25px;
  border: 2px solid #181419;
  padding: 20px;
}

p.warning {
  color: #9e0b41;
  font-weight: bold;
  background-color: #f0f0d8;
}

div.container {
  background: #ffffff;
  border-radius: 15px;
  border: 2px solid #181419;
  padding: 20px;
}

div.ideacontainer {
  border: 1px solid #181419;
  padding: 5px;
  margin: 5px auto;
  width: 50%;
  border-radius: 5px;
  position: relative;
}
div.idea {
  padding: 0px;
}

p.content {
  margin-bottom: 0.3em;
}

p.title {
  text-decoration: underline;
  font-weight: bold;
  margin-bottom: 0;
  margin-top: 5px;
}

p.date {
  font-size: 0.65em;
  position: absolute;
  top: 3px;
  right: 5px;
  margin: 0;
}
